.vscode/launch.json
.vscode/tasks.json
obj/GuessTheNumber.csproj.nuget.dgspec.json
obj/GuessTheNumber.csproj.nuget.g.props
obj/GuessTheNumber.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost
obj/Debug/net5.0/GuessTheNumber.AssemblyInfo.cs
obj/Debug/net5.0/GuessTheNumber.AssemblyInfoInputs.cache
obj/Debug/net5.0/GuessTheNumber.assets.cache
obj/Debug/net5.0/GuessTheNumber.csproj.AssemblyReference.cache
obj/Debug/net5.0/GuessTheNumber.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/GuessTheNumber.csproj.FileListAbsolute.txt
obj/Debug/net5.0/GuessTheNumber.dll
obj/Debug/net5.0/GuessTheNumber.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/GuessTheNumber.genruntimeconfig.cache
obj/Debug/net5.0/GuessTheNumber.pdb
obj/Debug/net5.0/ref/GuessTheNumber.dll
bin/Debug/net5.0/GuessTheNumber
bin/Debug/net5.0/GuessTheNumber.deps.json
bin/Debug/net5.0/GuessTheNumber.dll
bin/Debug/net5.0/GuessTheNumber.pdb
bin/Debug/net5.0/GuessTheNumber.runtimeconfig.dev.json
bin/Debug/net5.0/GuessTheNumber.runtimeconfig.json
bin/Debug/net5.0/ref/GuessTheNumber.dll
